html{
	zoom: 90%;
}
body{
	max-width: 100%;
}

.permHeader {
	display: grid;
	position: fixed;
	grid-template-columns: repeat(2,1fr);
	border-bottom:4px solid #000000;
	background-color:#F5F5F5;
	width:120%;
	height: 130px;
	max-width:100%;
	z-index:10;
	justify-content: center;
}
.permHeader .logo {
	display: flex;
	position: fixed;
	height:100px;
	padding-left:20;
	padding-top:20;
	padding-bottom:10;
	z-index: 11;
}
.permHeader .permNavigation {
	display: flex;
	position: fixed;
	padding-top: 2.2%;
	text-align:right;
	margin:0;
	justify-self: center;
}


.permBurger{
	display: none;
	margin-left: 89%;
	margin-top: 20px;
	position: fixed;
	scale: 120%;
	z-index: 15;
}
input{
	display: none;
	position: fixed;
	cursor: pointer;
	margin-left: 91%;
	margin-top: 32px;
	scale: 350%;
	z-index: 15;
	opacity: 0.001;
}
.mobileMenu{
	visibility: hidden;
	margin-top: 130px;
	margin-left: 35%;
	position: fixed;
	width: 700px;
	height: 39%;
	z-index: 15;
	background-color: #F5F5F5;
	border: 4px solid black;
}
.mobileMenu a{
	display: block;
	font-size:40;
	padding-bottom: 20px;
	font-family: "YouTube Sans","Roboto",sans-serif;
	text-decoration:none;
}
.mobileMenu btn{
	display: block;
	font-size:40;
	padding-bottom: 20px;
	padding-left: 50px;
	font-family: "YouTube Sans","Roboto",sans-serif;
	text-decoration:none;
	cursor: pointer;
}
#checkBox1:checked + .mobileMenu {
	visibility: visible;
}
#checkBox1:checked + .permBurger {
	content: url("images/facebook mono.png");
}


.banner{
	position:static;
	max-width:100%;
}
.banner .text{
	position:absolute;
	left:13%;
	top:25%;
	color:#1B1D24;
	font-size: 50px; 
	font-family: DM Serif Text;
}
.banner img{
	width:100%;
	height:40%;
	padding-top:130px;
	border-bottom: 4px solid black;
}
.banner .foregroundImg{
	display:block;
	left:35%;
	top:4%;
	margin-left:370px;
	height:35%;
	width:auto;
	border: 0px;
	position:absolute;
}


.grid {
	max-width: 100%;
	display: grid;
	grid-template-columns:repeat(2,1fr);
	gap: 0 20px;
}
.grid .headerContainer{
	text-align: center;
	margin-top: 70px;
}
.grid .imgContainer{
	display: flex;
	background-color:#F5F5F5;
	margin-top: 100px;
	margin-bottom: 20px;
	justify-content: center;
}
.grid .txtContainer{
	display: flex;
	border: 1px solid gray;
	padding: 15px;
	border-radius: 8px;
	margin-bottom: 40px;
	width: 60%;
	justify-self: center;
}
.grid text{
	font-size: 20px;
	font-family: "YouTube Sans","Roboto",sans-serif;
}
#roundedImg1{
	border: 1px solid black;
	border-radius: 10%;
	width: 60%;
}
#headerImg1{
	border: 1px solid black;
	margin-top: -70px;
	width: 90%;
	height: 100%;
}

.footer {
	background-color:#0e1111;
	max-width:100%;
	align-items:center;
	padding-top: 24px;
	padding-bottom: 24px;
}
.footer .container{
	display: grid;
	max-width:100%;
	grid-template-columns:repeat(2,1fr);
	gap: 0 20px;
	padding: 24px;
}
.footer .copyright{
	display:flex;
	flex-direction:column;
}
.footer .header {
	color:white;
	padding-bottom:35px;
	padding-left: 20px;
	font-size: max(35px);
	font-family: "YouTube Sans","Roboto",sans-serif;
}
.footer .copyright .text{
	color:white;
	padding:10px 25px;
	font-size: max(20px);
	font-family: "YouTube Sans","Roboto",sans-serif;
}
.footer .socials{
	display:flex;
	flex-direction:column;
}
.footer .socials .content{
	display: grid;
	padding: 0 20px;
	grid-template-columns: repeat(4,10%);
}
.footer .socials .content a{
	margin:0;
	padding:0px;
	outline:0;
	width: 0;
}
.footer .socials .content img{
	border-radius: 10%;
	max-width: 48px;
	max-height: 48px;
}


body {
	margin: 0;
	background-color:#F5F5F5;
}

.styledParagraph {
	padding: 0 200px;
}

p {
	font-size:25;
	font-family: "YouTube Sans","Roboto",sans-serif;
	/*white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;*/
}


a {
	font-size:33;
	font-family: "YouTube Sans","Roboto",sans-serif;
	font-weight:500;
	text-decoration:none;
	word-wrap:break-word;
	padding: 0 50px;
}
/*default state hyperlink*/
a:link{
	color:black;
}
/*visited state hyperlink*/
a:visited{
	color:black;
}
/*mouse hovering on hyperlink state*/
a:hover{
	color:black;
	text-decoration:underline;
}
/*when pressed hyperlink state*/
a:active{
	color:black;
}


/*scroll bar changes*/
::-webkit-scrollbar {
	width: 0px;
}
  /*
  ::-webkit-scrollbar-track {
	background: #f5f5f5; 
  }
  ::-webkit-scrollbar-thumb {
	background: #727272; 
  }
  ::-webkit-scrollbar-thumb:hover {
	background: #838383; 
  }*/

/* inbetween mobile and desktop view */
@media only screen and (max-width: 1870px) and (min-width: 720px) {
	.permHeader{
		height: 220px;
	}
	.permHeader .logo{
		justify-self: center;
	}
	.permHeader .permNavigation{
		padding-top: 170px;
	}
	.permHeader .permNavigation a{
		border-left: 1px solid black;
		text-align: center;
		font-size: 20;
	}

	.banner .text{
		top: 35%;
	}
	.banner img{
		padding-top: 220px;
	}
	.banner .foregroundImg{
		visibility: hidden;
	}

	#checkBox1:checked + .mobileMenu {
		visibility: hidden;
	}
}
/* mobile  view */
@media only screen and (max-width: 720px) {
	.permHeader{
		height: 130px;
	}
	.permHeader .permNavigation{
		display: none;
	}

	.banner img{
		padding-top: 130px;
	}
	.banner .text{
		top:27%;
	}
	.banner .foregroundImg{
		visibility: hidden;
	}

	.permBurger{
		display: initial;
	}

	input{
		display: initial;
	}

	.grid{
		grid-template-columns:repeat(1,1fr);
	}

	#dText01{
		display: none;
	}

	.footer .socials .content{
		grid-template-columns: repeat(1,1fr);
		gap: 30px 0;
	}

	#logoLink{
		justify-self: center;
		padding-left: 60%;
	}
}
/* extras for desktop view */
@media only screen and (min-width: 720px) {
	#mText01{
		display: none;
	}
	#checkBox1:checked + .mobileMenu {
		visibility: hidden;
	}
}