/*@media only screen and (max-width:599px){
	
} decides what happens after screen reaches certain width*/ 


.logo {
	height:100px;
	padding-left:20;
	padding-top:20;
	padding-bottom:10;
	float:left;
	max-width:15%;
}


.permNavigation {
	min-width:1440px;
	padding-left:15rem;
	display:inline-block;
	padding-top:2.5%;
	text-align:left;
	float:right;
	max-width:50;
	border: 0px solid green;
}
.permHeader {
	position:fixed;
	border-bottom:4px solid #000000;
	background-color:#F5F5F5;
	width:120%;
	max-width:100%;
	z-index:10;
}


.banner{
	position:static;
	max-width:100%;
}
.banner .text{
	position:absolute;
	left:13%;
	top:25%;
	color:#1B1D24;
	font-size: 50px; 
	font-family: DM Serif Text;
}
.banner img{
	width:100%;
	height:40%;
	padding-top:130px;
	border-bottom: 1px solid black;
}
.banner .foregroundImg{
	display:block;
	left:35%;
	top:4%;
	margin-left:370px;
	height:35%;
	width:auto;
	border: 0px;
	position:absolute;
}


.grid .image{
	float:left;
	width:50%;
	background-color:#F5F5F5;
}
.grid .container{
	margin-top: 20px;
	border: 1px solid gray;
	border-radius: 8px;
	height: 150px;
	padding: 15px 25px;
	margin-left:250px;
	width: calc(100% - (275px * 2));
}
.grid img{
	width: calc(100% - (250px * 2));
	margin-left: 250px;
	margin-top: 100px;
	border: 1px solid black;
	border-radius: 10%;
}
.grid text{
	font-size: 20px;
	font-family:Inter;
}


.footer {
	background-color:black;
	max-width:100%;
	border-bottom:4px solid green;
	align-items:center;
}
.footer .container{
	display: grid;
	max-width:100%;
	grid-template-columns:repeat(2,1fr);
	gap: 0 20px;
	padding: 24px;
}
.footer .copyright{
	display:flex;
	flex-direction:column;
}
.footer .copyright .header {
	color:white;
	padding:10px 25px;
	font-size: max(25px);
	font-family:Inter;
	border: 1px solid red;
}
.footer .copyright .text{
	color:white;
	padding:10px 25px;
	font-size: max(15px);
	font-family:Inter;
	border: 1px solid red;
}
.footer .socials{
	display:flex;
	flex-direction:column;
}
.footer .socials .header{
	color:white;
	padding:10px 25px;
	font-size: max(25px);
	font-family:Inter;
	border: 1px solid red;
}

body {
	margin: 0;
	background-color:#F5F5F5;
}


a {
	font-size:33px;
	font-family:Inter;
	font-weight:500;
	text-decoration:none;
	word-wrap:break-word;
	padding-right:100px;
}
/*default state hyperlink*/
a:link{
	color:black;
}
/*visited state hyperlink*/
a:visited{
	color:black;
}
/*mouse hovering on hyperlink state*/
a:hover{
	color:black;
	text-decoration:underline;
}
/*when pressed hyperlink state*/
a:active{
	color:black;
}

::-webkit-scrollbar {
	width: 0px;
  }
  /*
  ::-webkit-scrollbar-track {
	background: #f5f5f5; 
  }
  ::-webkit-scrollbar-thumb {
	background: #727272; 
  }
  ::-webkit-scrollbar-thumb:hover {
	background: #838383; 
  }*/
