.logo {
	height:100px;
	padding-left:20;
}

.permNavigation {
	padding-left:5rem; display:inline-block; padding-top:100px;
}

.permHeader {
	position:fixed; display:flex; border-bottom:4px solid red;
}

.banner .image{
	max-width:100%
}

.gridImg .image{
	float:left; width:50%
}

.gridImg img{
	width: calc(100% - (20px * 2)); margin: 20px;
}

body {margin: 0; background-color:#F5F5F5}

p {color:blue; font-weight: bold;}

a {color:black; font-size:33px; font-family:Inter; font-weight:500; text-decoration:underline; word-wrap:break-word; padding-right:100px}
