html{
	zoom: 90%;
}
body{
	max-width: 100%;
}

.permHeader {
	display: grid;
	position: fixed;
	grid-template-columns: repeat(2,1fr);
	border-bottom:4px solid #000000;
	background-color:#F5F5F5;
	width:120%;
	height: 130px;
	max-width:100%;
	z-index:10;
	justify-content: center;
}
.permHeader .logo {
	position: fixed;
	height:100px;
	padding-top: 20px;
	z-index: 11;
}
.permHeader .permNavigation {
	display: flex;
	position: fixed;
	padding-top: 2.2%;
	text-align:right;
	margin:0;
	justify-self: center;
}


.permBurger{
	display: none;
	float: right;
	margin-left: 89%;
	margin-top: 20px;
	position: fixed;
	z-index: 15;
}
#checkBox1{
	display: none;
	position: fixed;
	cursor: pointer;
	margin-left: 89%;
	margin-top: 32px;
	width: 50px;
	z-index: 15;
	opacity: 0.001;
}
.mobileMenu{
	visibility: hidden;
	margin-top: 130px;
	margin-left: 35%;
	position: fixed;
	width: 700px;
	height: 28%;
	z-index: 15;
	background-color: #F5F5F5;
	border: 4px solid black;
}
.mobileMenu a{
	display: block;
	font-size: 40px;
	padding-bottom: 20px;
	font-family: "YouTube Sans","Roboto",sans-serif;
	text-decoration:none;
}
.mobileMenu btn{
	display: block;
	font-size: 40px;
	padding-bottom: 20px;
	padding-left: 50px;
	font-family: "YouTube Sans","Roboto",sans-serif;
	text-decoration:none;
	cursor: pointer;
}
#checkBox1:checked + .mobileMenu {
	visibility: visible;
}
#checkBox1:checked + .permBurger {
	content: url("images/facebook mono.png");
}


.banner{
	position:absolute;
	width:100%;
}
.banner .text{
	width: 600px;
	margin-left: 15%;
	margin-top: 250px;
	color:#1B1D24;
	font-size: 80px; 
	font-family: DM Serif Text;
}
.banner .foregroundImg{
	top: 35%;
	margin-left: 60%;
	height: 80%;
	position: absolute;
}
#gradient01{
	padding-bottom: 600px;
	background-image: linear-gradient(to right, #DB8F87 , #C3939F);
	border: 4px solid black;
}


h1{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 45px;
}


.grid {
	max-width: 100%;
	display: grid;
	grid-template-columns:repeat(2,1fr);
	gap: 0 20px;
}

.grid .dHeaderContainer{
	text-align: center;
}
.grid .mHeaderContainer{
	display: none;
}

.grid .imgContainer{
	display: flex;
	background-color:#F5F5F5;
	margin-top: 100px;
	margin-bottom: 20px;
	justify-content: center;
}
.grid .dImgContainer{
	display: flex;
	background-color:#F5F5F5;
	margin-top: 100px;
	margin-bottom: 20px;
	justify-content: center;
}
.grid .mImgContainer{
	display: none;
	background-color:#F5F5F5;
	margin-top: 100px;
	margin-bottom: 20px;
	justify-content: center;
}

.grid .dHeaderImg{
	text-align: center;
	border: 1px solid black;
	margin-top: -70px;
	width: 80%;
	height: 100%;
	max-width: 100%;
}
.grid .mHeaderImg{
	display: none;
	text-align: center;
	border: 1px solid black;
	margin-top: -70px;
	width: 80%;
	height: 100%;
	max-width: 100%;
}
.grid .txtContainer{
	display: flex;
	padding: 15px;
	border-radius: 8px;
	margin-bottom: 40px;
	width: 60%;
	justify-self: center;
}
.grid .dTxtContainer{
	display: flex;
	padding: 15px;
	border-radius: 8px;
	margin-bottom: 40px;
	width: 60%;
	justify-self: center;
}
.grid .mTxtContainer{
	display: none;
	padding: 15px;
	border-radius: 8px;
	margin-bottom: 40px;
	width: 60%;
	justify-self: center;
}
.grid .roundedImg1{
	border: 1px solid black;
	border-radius: 10%;
	width: 60%;
}
/*.headerImg{
	text-align: center;
	border: 1px solid black;
	margin-top: -70px;
	width: 80%;
	height: 100%;
	max-width: 100%;
}*/
.singleHeader{
	text-align: center;
}
#singleImage{
	align-self: center;
	margin-bottom: 40px;
	border-radius: 20px;
	width: 60%;
}
#sideImage1{
	width: 80%;
	margin-left: 55px;
}
#referenceImage1{
	width: 60%;
	margin-top: -40px;
	margin-bottom: 40px;
}
#referenceText1{
	display: inline-block;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 60px;
}

.footer {
	width: 100%;
	background-color:#0e1111;
	max-width:100%;
	align-items:center;
	padding-top: 24px;
	padding-bottom: 24px;
}
.footer .container{
	display: grid;
	max-width:100%;
	grid-template-columns:repeat(2,1fr);
	gap: 0 20px;
	padding: 24px;
}
.footer .copyright{
	display:flex;
	flex-direction:column;
}
.footer .header {
	color:white;
	padding-bottom:35px;
	padding-left: 20px;
	font-size: max(35px);
	font-family: "YouTube Sans","Roboto",sans-serif;
}
.footer .copyright .text{
	color:white;
	padding:10px 25px;
	font-size: max(20px);
	font-family: "YouTube Sans","Roboto",sans-serif;
}
.footer .socials{
	display:flex;
	flex-direction:column;
}
.footer .socials .content{
	display: grid;
	padding: 0 20px;
	grid-template-columns: repeat(4,10%);
}
.footer .socials .content a{
	margin:0;
	padding:0px;
	outline:0;
	width: 0;
}
.footer .socials .content img{
	border-radius: 10%;
	max-width: 48px;
	max-height: 48px;
}


body {
	margin: 0;
	background-color:#F5F5F5;
}

.styledParagraph {
	padding: 0 200px;
}
#mText01{
	display: none;
}

p {
	font-size:25px;
	font-family: "YouTube Sans","Roboto",sans-serif;
	/*white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;*/
}


a {
	font-size:33px;
	font-family: "YouTube Sans","Roboto",sans-serif;
	font-weight:500;
	text-decoration:none;
	word-wrap:break-word;
	padding: 0 50px;
}
/*default state hyperlink*/
a:link{
	color:black;
}
/*visited state hyperlink*/
a:visited{
	color:black;
}
/*mouse hovering on hyperlink state*/
a:hover{
	color:black;
	text-decoration:underline;
}
/*when pressed hyperlink state*/
a:active{
	color:black;
}

.infoTable{
	font-family: "YouTube Sans","Roboto",sans-serif;
	font-size: 28px;
  	border-collapse: collapse;
  	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
.infoTable td, .infoTable th {
	border: 1px solid black;
	padding: 8px;
	text-align: center;
	width: 50%;
}
.infoTable tr:nth-child(odd){
	background-color: #ddd;
}
.infoTable td:hover {
	background-color: #ccc;
}
.infoTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  color: black;
  background-color: #9FF4FF;
}

.boxSplit{
	width: 100%;
	padding-bottom: 480px;
	margin-bottom: 60px;
	margin-top: 60px;
}
.boxSplit .box60{
	width: 60%;
	float: left;
}
.boxSplit .box40{
	width: 40%;
	float: left;
	margin-top: 50px;
}
#image60{
	display: block;
	border: 1px solid black;
	width: 60%;
	margin-left: 20%;
	margin-right: auto;
}
#text40{
	display: block;
	border-radius: 4px;
	width: 60%;
	margin-left: 0;
	margin-right: 100%;
	font-family: "YouTube Sans","Roboto",sans-serif;
	font-size: 25px;
}

#ContactHeader{
	text-align: center;
	font-family: "YouTube Sans","Roboto",sans-serif;
	font-size: 65px;
	padding-top: 200px;
	margin-top: 0px;
}
#ContactParagraph{
	text-align: center;
	font-family: "YouTube Sans","Roboto",sans-serif;
	font-size: 32px;
	margin-bottom: 50px;
}

.formLayout{
	border: 3px solid black;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
}
form{
	padding: 12px;
}
form label{
	font-family: "YouTube Sans","Roboto",sans-serif;
	font-size: 28px;
}
input[type=text]{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 3px solid #ccc;
	border-radius: 3px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	font-family: "YouTube Sans","Roboto",sans-serif;
	font-size: 18px;
}
input[type=text]:focus{
	border: 3px solid #555;
}
input[type=submit]{
	width: 100%;
  	background-color: #4CaF50;
  	color: white;
  	padding: 14px 20px;
  	margin: 8px 0;
  	border: none;
  	border-radius: 4px;
  	cursor: pointer;
	font-family: "YouTube Sans","Roboto",sans-serif;
	font-size: 18px;
}
input[type=submit]:hover {
	background-color: #45a049;
}
textarea{
	width: 97.5%;
	height: 300px;
	padding: 12px 20px;
	margin: 8px 0;
	border: 3px solid #ccc;
	border-radius: 3px;
	font-family: "YouTube Sans","Roboto",sans-serif;
	font-size: 18px;
	resize: none;
}


.reference{
	align-items: center;
	width: 100%;
	border-bottom: 2px solid #ccc;
}
.reference .referenceImg{
	text-align: center;
	padding-top: 10%;
}
.reference .referenceImg img{
	max-width: 600px;
}
.reference .referenceTxt{
	text-align: center;
}
.reference .referenceTxt a{
	word-wrap: break-word;
}
.invertImg{
	filter: invert(100);
}

.readOn{
	padding: 0px;
	font-size: 25px;
}


/*scroll bar changes*/
::-webkit-scrollbar {
	width: 0px;
}
  /*
  ::-webkit-scrollbar-track {
	background: #f5f5f5; 
  }
  ::-webkit-scrollbar-thumb {
	background: #727272; 
  }
  ::-webkit-scrollbar-thumb:hover {
	background: #838383; 
  }*/


/* inbetween mobile and desktop view */
@media only screen and (max-width: 1870px) and (min-width: 720px) {
	.permHeader{
		height: 220px;
	}
	.permHeader .logo{
		justify-self: center;
	}
	.permHeader .permNavigation{
		padding-top: 170px;
	}
	.permHeader .permNavigation a{
		border-left: 1px solid black;
		text-align: center;
		font-size: 20px;
	}

	.banner .text{
		top: 35%;
	}
	.banner .foregroundImg{
		visibility: hidden;
	}

	#checkBox1:checked + .mobileMenu {
		visibility: hidden;
	}
}

/* ##################################### mobile  view ##################################### */
@media only screen and (max-width: 720px) {
	.permHeader{
		height: 130px;
	}
	.permHeader .permNavigation{
		display: none;
	}
	#logoLink{
		width: 40%;
		margin-left: 60%;
	}

	.permBurger{
		display: initial;
	}
	#checkBox1{
		display: initial;

	}


	#gradient01{
		padding-bottom: 500px;
	}
	.banner .foregroundImg{
		visibility: hidden;
	}
	.banner .text{
		font-size: 70px;
		margin-top: 230px;
	}


	.grid{
		grid-template-columns:repeat(1,1fr);
	}
	#dText01, #dImg01, #dHeader01{
		display: none;
	}
	.grid .txtContainer{
		width: 80%;
	}
	.grid .mTxtContainer{
		display: flex;
	}
	.grid .dTxtContainer{
		display: none;
	}

	.grid .headerContainer{
		margin-top: 30px;
	}
	.grid .dHeaderContainer{
		display: none;
	}
	.grid .mHeaderContainer{
		display: block;
		text-align: center;
	}
	.grid .mImgContainer{
		display: flex;
	}
	.grid .dImgContainer{
		display: none;
	}
	.grid .mHeaderImg{
		display: flex;
		max-width: 80%;
	}
	#mImg01{
		margin-bottom: -30px;
	}
	#singleImage{
		width: 80%;
	}
	#mParagraph{
		width: 130%;
		margin-left: -40px;
	}
	#mText01{
		display: initial;
	}


	.footer .socials .content{
		grid-template-columns: repeat(1,1fr);
		gap: 30px 0;
	}


	.styledParagraph{
		margin-top: 60px;
		padding: 0 15%;
	}

	textarea{
		width: 90%;
	}

	.infoTable{
		display: none;
	}
	#tab01, #tab02, #tab03, #tab04{
		position: absolute;
		opacity: 0;
		z-index: -1;
	}
	.accordion {
		margin: 10px;
		border-radius: 5px;
		overflow: hidden;
		box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
	}
	.accordion-label {
		font-family: "YouTube Sans","Roboto",sans-serif;
		font-size: 20px;
		display: flex;
		justify-content: space-between;
		padding: 1em;
		font-weight: bold;
		cursor: pointer;
		background: #9FF4FF;
		color: black;
	}
	.accordion-content {
		font-family: "YouTube Sans","Roboto",sans-serif;
		font-size: 18px;
		max-height: 0;
		padding: 0 1em;
		background: white;
		transition: all 0.35s;
	}
	#tab01:checked ~ .accordion-content {
		max-height: 100vh;
		padding: 1em;
	}
	#tab02:checked ~ .accordion-content {
		max-height: 100vh;
		padding: 1em;
	}
	#tab03:checked ~ .accordion-content {
		max-height: 100vh;
		padding: 1em;
	}
	#tab04:checked ~ .accordion-content {
		max-height: 100vh;
		padding: 1em;
	}
}
/* for desktop view */
@media only screen and (min-width: 720px) {
	.mTxtContainer, .mImgContainer #mImg01, #mHeader01, .accordion {
		display: none;
	}

	#checkBox1:checked + .mobileMenu {
		visibility: hidden;
	}
}