/* GENERAL STYLING ACROSS ALL PAGES */

:root {
    --backgroundColour: #FAF1F1;
}

* {
    padding: 0;
    margin: 0;
    background-color: var(--backgroundColour);
    font-family: "Inter", sans-serif;
}

nav {
    height: 4em;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    border-bottom: 2px solid black;
    z-index: 10;
}
nav a {
    float: left;
    text-align: center;
    padding: 21px 30px;
    font-size: 17px;
    justify-content: center;
    text-decoration: none;
    color: black;
    background-color: white;
}
nav .pageNav a:hover {
    background-color: #ddd;
    color: black;
}
nav .profile {
    margin-right: auto; 
    padding: 0; 
    background: transparent; 
    float: right;
}
.profile a {
    padding: 0px;
    padding-top: 13px;
    padding-right: 13px;
}
.profile a:hover {
    background-color: none;
}
.profile .profile-img {
    width: 40px; 
    height: 40px; 
    object-fit: cover; 
    background: transparent;
}

.sameLine {
    display: inline-flex;
}

footer {
    max-width: 100%;
    background-color: #D9D9D9;
    border-top: 2px solid black;
    padding: 30px;
    padding-bottom: 10px;
}
footer * {
    background-color: inherit;
}
footer ul{
    align-items: center;
    padding-left: 1rem;
    list-style-type: none;
    overflow: hidden;
}
footer a {
    text-decoration: none;
    color: black;
    font-size: 22px;
}
footer .footerContent {
    max-width: 100%;
    display: flex;
}
.footerContent .split30 {
    width: 25%;
}
.split30 h1 {
    font-size: 40px;
    padding-bottom: 20px;
}
.split30 p {
    font-size: 20px;
}
.footerContent .split70 {
    width: 75%;
}
.split70 ul {
    padding-top: 6px;
}
.split70 li {
    float: right;
    padding-right: 9rem;
}
footer .splitter {
    max-width: 100%;
    margin-top: 30px;
    border-top: 1px solid black;
    display: flex;
    align-items: center;
}
.splitter .copyright {
    width: 50%;
}
.copyright p {
    font-size: 18px;
}
.splitter .payments {
    width: 50%;
    float: right;
}
.payments li {
    float: right;
    padding: 10px;
}
.payments li img {
    max-width: 60px;
    max-height: 38px;
}

/* INDEX PAGE STYLE */

.banner {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.banner .textColumn {
    padding: 50px;
}
.textColumn h1 {
    font-size: 60px;
}
.textColumn p {
    padding-top: 10px;
    width: 70%;
    font-size: 22px;
}
.textColumn button {
    margin-top: 50px;
    color: white;
    background-color: black;
    height: 4em;
    width: 180px;
    border-radius: 50px;
    margin-bottom: 1.5em;
    font-size: 18px;
}
.banner img{
    display: block;
    margin: auto;
    margin-top: 7%;
    border-radius: 20px;
}

marquee {
    background-color: black;
    height: 3em;
    margin-bottom: 3em;
}
marquee a {
    color: white;
    background-color: purple;
    text-decoration: none;
    padding: 30px 26px;
}

.content1 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 3em;
    align-items: center;
}
.content1 .column {
    text-align: center;
}
.content1 .separator {
    width: 80%;
    border-top: 2px solid gray;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 1.5rem;
}
.separator p {
    text-align: center;
    font-size: 18px;
}
.content1 .column img {
    width: 60%;
    height: 350px;
    border: 20px solid lightgray;
    border-radius: 30px;
}

.content2 {
    width: 100%;
    margin-bottom: 3em;
}
.content2 h1 {
    text-align: center;
    margin-bottom: 1em;
}
.content2 .grid3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.content2 .column {
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px 20px;
    margin: 0px 10px;
    font-size: 20px;
    height: 15em;
    margin-bottom: 1em;
}
.content2 h3 {
    padding-bottom: 10px;
}
.content2 span {
    color: #ffc700;
    font-size: 30px;
    padding-bottom: 10px;
}
.content2 button {
    color: white;
    background-color: black;
    height: 4em;
    width: 180px;
    border-radius: 50px;
    margin-bottom: 3em;
}

.content3 {
    width: 100%;
}
.content3 h1 {
    text-align: center;
    margin-bottom: 1em;
}
.content3 .imageBand {
    display: flex;
    justify-content: center;
    margin-bottom: 4em;
}
.content3 img {
    width: 1200px;
    position: absolute;
    border-radius: 30px;
}
.content3 .band {
    width: 100%;
    height: 16em;
    background-color: black;
    border-top: 8px solid grey;
    border-bottom: 8px solid grey;
    position: relative;
    margin-top: 2em;
}
.content3 button {
    color: white;
    background-color: black;
    height: 4em;
    width: 180px;
    border-radius: 50px;
    margin-bottom: 4em;
}

.centeredBtn {
    display: flex;
    justify-content: center;
}


/* LOGIN PAGE STYLE */

.login {
    max-width: 100%;
    
}
.loginBG img{
    width: 100%;
    height: 93.5vh;
}

.loginFormContainer {
    position: absolute;
    height: 600px;
    width: 400px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: var(--backgroundColour);
    top: 200px;
    left: 40%;
    text-align: center;
}
.loginFormContainer .formHeader {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 70px;
}
.formHeader h1 {
    font-size: 50px;
    text-shadow: rgba(0, 0, 0, 0.3) 1px 0 10px;
}
.loginFormContainer input {
    margin-bottom: 30px;
}
.loginFormContainer input[type = text], .loginFormContainer input[type = password] {
    border: none;
    border-bottom: 2px solid black;
    border-color: black;
    background-color: #FDFDFD;
    font-size: 18px;
    width: 65%;
    padding: 10px;
}
.loginFormContainer input::placeholder {
    font-style: italic;
}
.loginFormContainer a, .loginFormContainer p {
    font-size: 20px;
}
.forgotPass {
    margin-top: 20px;
}
.loginFormContainer input[type = submit] {
    background-color: #CC7F7F;
    color: white;
    width: 65%;
    height: 50px;
    border-radius: 25px;
    font-size: 24px;
    margin-top: 80px;
    margin-bottom: 40px;
}

/* SIGNUP PAGE STYLE */

.signup {
    max-width: 100%;
    
}
.signupBG img{
    width: 100%;
    height: 93.5vh;

}
.signupFormContainer {
    position: absolute;
    height: 800px;
    width: 600px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: var(--backgroundColour);
    top: 100px;
    left: 34%;
    text-align: center;
}
.signupFormContainer .formHeader {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.signupFormContainer input {
    margin-bottom: 20px;
}
.signupFormContainer input[type = text], .signupFormContainer input[type = password], .signupFormContainer input[type = email], .signupFormContainer input[type = tel]{
    border: none;
    border-bottom: 2px solid black;
    border-color: black;
    background-color: #FDFDFD;
    font-size: 18px;
    width: 65%;
    padding: 10px;
}
.signupFormContainer input::placeholder {
    font-style: italic;
}
.signupFormContainer a, .loginFormContainer p {
    font-size: 20px;
}
.signupFormContainer input[type = submit] {
    background-color: #CC7F7F;
    color: white;
    width: 65%;
    height: 50px;
    border-radius: 25px;
    font-size: 24px;
    margin-top: 20px;
}
.signupFormContainer .sameLine {
    gap: 20px;
}

.accType {
    display: inline-flex;
    width: 95%;
    margin-bottom: 20px;
}
#optionOne {
}
#optionTwo {
}
.accType .switch {
    position: relative;
    width: 580px;
    height: 34px;
    margin-left: 20px;
    margin-right: 20px;
}
.accType .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.accType .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(4, 185, 4);
    -webkit-transition: .4s;
    transition: .4s;
}
.accType .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
.accType input:checked + .slider {
    background-color: #2196F3;
}
.accType input:focus + .slider {
    box-shadow: 0 0 2px black;
}
.accType input:checked + .slider:before {
    -webkit-transform: translateX(362px);
    -ms-transform: translateX(362px);
    transform: translateX(362px);
}
.accType .slider.round {
    border-radius: 34px;
}
  
.accType .slider.round:before {
    border-radius: 50%;
}